@keyframes animeEntrar {
  to {
    opacity: 1;
    transform: initial;
  }
}

/* @keyframes animeSair {
  to {
    opacity: 0;
    transform: translateX(+30px);
  }
} */

.entrou {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeEntrar 0.4s forwards;
}

/* .saiu {
  opacity: 1;
  transform: translateX(0px);
  animation: animeSair 0.4s forwards;
} */

.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.done {
  width: 36px;
}

@media (width <= 600px) {
  .done {
    width: 30px;
  }
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item::after {
  content: '';
  width: 115%;
  height: 1px;
  background-color: #d8d8d8;
  margin-top: 8px;
}

.item p {
  font-weight: bold;
  color: #b3b3b3;
  font-size: 1rem;
  text-decoration: line-through;
}

.item span {
  font-size: 0.875rem;
  color: #b0b0b0;
  text-decoration: line-through;
}

@media (width <= 600px) {
  .item p {
    font-size: 0.875rem;
  }
  .item span {
    font-size: 0.75rem;
  }
}

.listItem:last-child .item::after {
  display: none;
}

.buttons {
  display: flex;
  align-items: center;
}

.redo,
.trash {
  width: 20px;
  padding: 10px;
  cursor: pointer;
}

.redo {
  width: 30px;
}

.trash:hover,
.redo:hover {
  scale: 1.3;
  transition: 0.3s;
}

@media (width <= 600px) {
  .redo {
    width: 20px;
  }
  .trash {
    width: 15px;
  }
}
