body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e8ecf1;
  min-height: 100vh;
  padding: auto 2rem;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  margin: auto;
  padding: 2rem 3rem;
  border-radius: 1.5rem;
  max-width: 30rem;
  min-height: 400px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

h2 {
  color: #444444;
}

.title p {
  color: #b3b3b3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title p::after {
  content: '';
  display: block;
  width: 100px;
  height: 1px;
  border-radius: 4px;
  background: #b3b3b3;
  margin-top: 1rem;
}

.form {
  display: flex;
  gap: 1rem;
}

.form button {
  width: 4rem;
  background-color: #e1a0ff;
  color: white;
  font-weight: 500;
  font-size: 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  max-height: 80%;
  place-self: end;
  transition: 0.1s;
}

.form button:hover {
  background-color: #edabff;
}

.form button:active {
  scale: 0.9;
}

.shopList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.listContainer,
.listComprados {
  min-height: 100px;
}

.listComprados h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.listComprados h2::before {
  content: '';
  display: block;
  width: 100px;
  height: 1px;
  border-radius: 4px;
  background: #b3b3b3;
  margin-bottom: 1rem;
}
